<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body class="flex-column">
    <nav clas="navbar">
    <ul class="flex-row">
        <li class="li-inline"><a href="/">Home</a></li>
        <li class="li-inline"><a href="/dashboard">Dashboard</a></li>
    </ul>
    </nav>

    <header class="header">
        <main class="col-auto">
            {{{body}}}
        </main>
    </header>

</body>
</html>