<div>
    <div>
        <h2>Edit Post</h2>
    </div>
    <form id="edit-post-form">
        <input value="{{post.id}}"/>
        
        <label value="{{post.title}}"/>
        <input type="text" value="{{post.title}}"/>

        <label>Content</label>
        <textarea id="post-body">{{post.body}}</textarea>

        <button type="submit">Update</button>

        <button type="button" id="dlt-btn">Delete</button>
    </form>
</div>